.body-hide { opacity:0.4 !important; pointer-events: none !important; }
.product_detail {
  .btn-white { border: 1px solid #ced4da; text-align:left;
    &:after { float:right; margin-top:0.6em; }
  }
  .dropdown-menu { width:100%;
    .active {
      .dropdown-item { background:#f8f9fa; }
    }
  }
}
.sub_products { position: relative; height:auto; cursor: pointer;
  .sub_products_dropdown { display:none; position: absolute; left:0; top:0; width:100%; z-index:+2; background:#FFF; padding-left:1em; padding-right:1em; border:1px solid #ced4da;
    .subproduct_link {
      &:hover { background:#ebebeb; }
    }
    .active {
      .subproduct_link { background:#ebebeb; }
    }
  }
}
.cart_item {
  small { font-size:0.7em; }
}
.border-bottom-strong { border-bottom: 2px solid #dee2e6 !important; }
.checkout_sidebar { background: #fafafa;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);/*FF 3.5+*/
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 20px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.billing_form, .shipping_form {
  textarea { height:6em; }
}
.shipping_form { display:none; }
.tax_summary { font-size:0.85em; color:#666; }

#spinner { display:none; position: fixed; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,0.85); z-index:9999999999;
  i { opacity:0.5; }
}

@media (max-width: 992px) {
  .btn_delete_item { margin-bottom:0.5em; }
  .cart_item {
    .col-4 { margin-bottom:1em; }
  }
}
