{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div style="float:left; width: 100%; min-width: 800px; max-width:1110px; margin:0 auto; margin-top:40px; margin-bottom:40px; font-family:Arial, Helvetica, sans-serif; line-height:1.6em; font-size:0.9em;">

    <div style="width: 100%; min-width: 800px; margin:0 auto;">

        <p>Hallo {args.firstname} {args.lastname}!</p>
        <p>Im Anhang finden Sie die Rechnung zu Ihrer Bestellung.</p>
        <p>Beste Grüße
            <f:if condition="{args.cart_variables.invoice_address}">
                <br />
                <f:format.raw>{args.cart_variables.invoice_address}</f:format.raw>
            </f:if>
        </p>

        <div style="float:left; width:100%;">
            <small>-- <br />Dies ist ein automatisch generiertes E-Mail. Bitte antworten Sie nicht darauf.</small>
        </div>

    </div>

</div>
